html{
    --red:#710000;
    --burnt:#A63C06;
    --orange:#C36F09;
    --tan:#EEBA0B;
    --yellow:#F4E409;
    @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
    --headText: 'Crimson Text', serif;
    --bodyText: ''
}

header{
    font-size: 50px;
    height: 60px;
    position: fixed;
    top: 0;
    border-bottom: .2rem var(--burnt) solid;
    padding-left: 10vw;
    background-color: var(--yellow);
    color: var(--red);
}

.center{
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "projects tasks tasks tasks tasks";
    height: 100vh;
    background-color: var(--burnt);
    .projects{
        grid-area: projects;
        background-color: var(--tan);
        position: relative;
        padding-top: 60px;
        min-width: 300px;
    }
    .tasks{
        grid-area: tasks;
        background-color: var(--yellow);
        position: relative;
        padding-top: 60px;
        padding-left: 60px;
    }
}

footer{
    background-color: var(--red);
    bottom: 0;
    color: var(--yellow);
    font-family: var(--headText);
    font-size: 30px;
    height: 35px;
    height: 40px;
    position:fixed;
    width: 100%;
    text-align: right;
}

.bigtext{
    
    display: flex;
    flex-direction: column;
    font-family: 'Crimson Text', serif;
    justify-content: center;
    width: 100%;
    z-index: 9999;
}