html{
    --red:#710000;
    --burnt:#A63C06;
    --orange:#C36F09;
    --tan:#EEBA0B;
    --yellow:#F4E409;
    @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
}

header{
    font-size: 50px;
    height: 60px;
    position: fixed;
    top: 0;
}

.center{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "projects tasks tasks tasks";
    .projects{
        grid-area: projects;
        background-color: var(--tan);
    }
    .tasks{
        grid-area: tasks;
        background-color: var(--yellow)
    }
}

footer{
    background-color: var(--red);
    bottom: 0;
    color: var(--yellow);
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    height: 35px;
    height: 40px;
    position:fixed;
    width: 100%;
}

.bigtext{
    background-color: var(--red);
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    font-family: 'Crimson Text', serif;
    justify-content: center;
    padding-left: 10vw;
    width: 100%;
}